<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bbt.kangel.dbtesingsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.StudentMainActivity">

        </activity>
        <activity android:name=".activity.StudentViewGradeActivity" android:parentActivityName=".activity.StudentMainActivity"/>

        <activity android:name=".activity.TeacherMainActivity"/>
        <activity android:name=".activity.DeanMainActivity"/>
        <activity android:name=".activity.TestActivity" android:parentActivityName=".activity.StudentMainActivity"/>
        <activity android:name=".activity.TeacherChooseUnmarkedActivity"/>
        <activity android:name=".activity.TeacherMarkActivity"/>
        <activity android:name=".activity.TeacherViewGradeActivity"/>
        <activity android:name=".activity.DeanManageActivity"/>
        <activity android:name=".activity.ShowStatisticsActivity" android:theme="@style/DialogStyle"/>
        <activity android:name=".activity.TeacherManagePaperActivity"/>
        <activity android:name=".activity.TeacherManageQuestionActivity" />
        <activity android:name=".activity.TeacherViewPaperDetailActivity"/>
        <activity android:name=".activity.TeacherViewQuestionDetailActivity"/>
        <activity android:name=".activity.TeacherAddNewTextQuestionActivity"/>
        <activity android:name=".activity.TeacherAddChoiceQuestionActivity" />
        <activity android:name=".activity.TeacherAddPaperActivity" />
    </application>

</manifest>
